                <div>
                    <img src="/static/images/animal4.jpg">
                    <p>Name: {{name}}</p>
                    <p>Need of: {{need}}</p>
                    <a class="details-btn" href="/data/{{_id}}/details" >Details</a>
                </div>