            <form class="search" >
                <input type="search" name="search" value="{{search}}" placeholder="Search here...">
                <button type="submit">Search</button>
            </form>
            <section id="find-section">

                <!-- If there are any matching matches from the search, show each of them -->

                <div class="card">
                    <h3>Real House Luxury Villa</h3>
                    <p>Spacious and grand villa, 3 bedroom, 2 bath </p>
                    <div class="cta-container"><a href="#" class="det-link">Details</a></div>
                    <div class="card_circle"><img src="/static/images/house2.jpg"></div>

                </div>

                <!-- If there are no search matches, show: -->
                <!--<div class="no-data-listing">
                    <p class="no-offer">No match was found for the submitted type...</p>
                </div>-->
            </section>

{{!-- 
        <section class="crypto-search">
            <h1>Search</h1>

            <form class="search-form">
                <input type="text" class="search-coin" name="name" placeholder="Search here...">
                <select id="payment" name="payment">
                    <option value="Crypto Wallet">Crypto Wallet</option>
                    <option value="Credit Card">Credit Card</option>
                    <option value="Debit Card">Debit Card</option>
                    <option value="PayPal">PayPal</option>
                </select>
                <button type="submit" class="btn-search">Search</button>
            </form>

                {{#if data}}
            <div class="search-result">
                <div class="search-list">
                    {{#each data}}
                    {{>partialdata}}
                    {{/each}}
                </div>

            </div>
            {{else}}
            
            <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/if}}
        </section> --}}




