
        {{!-- <section class="crypto-market">
            <h1><span>Crypto</span> Trade</h1>
            {{#if alldata}}
            <div class="offer-list">
                {{#each alldata}} 
                {{>partialdata}} 
                {{/each}}
               
            </div>
            {{else}}
            <div class="no-offer">
                <p>There are no crypto offers found!</p>
            </div> 
            {{/if}}
        </section> --}}





{{!-- <main id="catalog">
    <section class="game-market">
        <h1>Game Trade Code</h1>
        {{#if games}}
        <div class="offer-list">
            {{#each games}}
                {{>game}}
            {{/each}}
        </div>
        {{else}}
            <div class="no-offer">
                <p>There are no game offers found!</p>
            </div>
        {{/if}}
    </section>
</main> --}}
